@use "global" as *;

.l-header {
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    left: 0;
}

.l-decorationImg_1 {
    left: 20%;
    position: absolute;
    top: 716px;
    z-index: 2;
    @include mq('md') {
        left: 14%;
        position: absolute;
        top: 1098px;
        z-index: 2;
    }
}

.l-companyInfo {
    background-color: #F2F5F7;
    @include mq('md') {

    }
}

.l-news {
    margin-top: 78px;
    @include mq('md') {
        margin-top: 140px;
        margin-right: auto;
        margin-left: auto;
    }
}

.l-ourBusiness {
    background-color: #F8F5F0;
    position: relative;
    margin-top: 70px;
    @include mq('md') {
        margin-top: 120px;
    }
}

.l-cases {
    margin-top: 70px;
    @include mq('md') {
        margin-top: 120px;
    }
}

.l-recruit {
    background-color: #233943;
    margin-top: 70px;
    @include mq('md') {
        margin-top: 36px;
        padding-bottom: 75px;
        background: linear-gradient(180deg, #fff 0%, #fff 7%, #233943 7%, #233943 93%, #fff 93%, #fff 100%);
    }
    @include mq('lg') {
        background: linear-gradient(180deg, #fff 0%, #fff 15%, #233943 15%, #233943 88%, #fff 88%, #fff 100%);
    }
}

.l-contact {
    margin-top: 74px;
    @include mq('md') {
        margin-top: 0px;
    }
}

.l-message {
    margin-top: 70px;
    @include mq('md') {
        margin-top: 100px;
    }
}

.l-pageTop {
    position: fixed;
    right: 15px;
    bottom: 80px;
    @include mq('md') {
        bottom: 15px;
    }
}

.l-recruitBanner {
    position: fixed;
    bottom: 0;
    z-index: 999;
    @include mq('md') {
        position: fixed;
        bottom: 44vh;
        right: 0px;
        }
}