@use "global" as *;

.plofile__title {
  font-size: 26px;
  color: #000;
  font-family: $main-font;
  font-weight: 700;
  @include mq('md') {
    font-size: 28px;
  }
}

.plofile__bar {
  margin-top: 16px;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, $main-color 0%, $main-color 13%, #C7C7C7 13%, #C7C7C7 100%,);
  @include mq('md') {
    background: linear-gradient(90deg, $main-color 0%, $main-color 5%, #C7C7C7 5%, #C7C7C7 100%,);
  }
}

.plofile__body {
  margin-top: 16px;
}

.plofile__text {
  font-size: 15px;
  color: #000;
  font-family: $main-font;
  font-weight: 400;
  line-height: calc(28 / 15);
  @include mq('md') {
    margin-top: 16px;
  }
}

.plofile__foot {
  margin-top: 60px;
}

.plofile__footItem {
  display: flex;
  max-width: 274px;
  margin-top: 24px;
}

.plofile__footItem:first-of-type {
  display: flex;
  max-width: 206px;
  margin-top: none;
  @include mq('md') {
    max-width: 220px;
  }
}

.plofile__footItemName {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #000;
  font-family: $main-font;
  font-weight: 400;
}

.plofile__footItemBar {
  margin: auto;
  height: 1px;
  width: 20px;
  background-color: #C7C7C7;
}

.plofile__footItemBar.plofile__footItemBar--long {
  width: 35px;
}

.plofile__footItemSnsBox {
  display: flex;
  gap: 20px;
}

.plofile__footItemSns {
  height: auto;
  aspect-ratio: 30 / 30;
  object-fit: cover;
  max-width: 30px;
}

.plofile__footItemSns:hover {
  opacity: 0.7;
	transition: 0.3s;
}

.plofile__footItemCompany {
  height: auto;
  aspect-ratio: 144 / 44;
  object-fit: cover;
  max-width: 144px;
}

.plofile__footItemCompany:hover {
  opacity: 0.7;
	transition: 0.3s;
}
