@use "global" as *;

.plusCircle {
	border: 0.1em solid #00AEBB;
	border-radius: 50%;
	box-sizing: content-box;
	color: #333;
	display: inline-block;
	height: 1em;
	line-height: 1;
	margin-left: 5px;
	position: relative;
	vertical-align: middle;
	width: 1em;
}

.header__navItem:hover .plusCircle span::before {
	height: 0%;
}

.plusCircle > span {
	background: #00AEBB;
	border-radius: 0.1em;
	bottom: 0;
	height: 1px;
	margin: auto;
	position: relative;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(-50%, -50%);
	width: 50%;
}

.plusCircle > span::before {
	background: #00AEBB;
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: rotate(90deg);
	width: 100%;
}