@use "global" as *;


.companyInfo__inner {
  padding-bottom: 70px;
  padding-top: 217px;
  @include mq('md') {
    max-width: 1200px;
    padding: 0 20px 100px;
  }
}

.companyInfo__container {
    @include mq('md') {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    align-items: center;
    padding: 0 20px;
  }
}

.companyInfo__sectionTitle {
  @include mq('md') {
    flex-shrink: 0;
  }
}

.companyInfo__body {
  margin-top: 16px;
  @include mq('md') {
    margin-top: 64px;
    margin-left: auto;
    width: 48%;
  }
}

.companyInfo__text {
  font-size: 15px;
  color: #000;
  line-height : calc( 28 / 15);
  font-family: $main-font;
  font-weight: 400;
}

.companyInfo__btn {
  margin-top: 32px;
  margin-left: auto;
}
