@use "global" as *;

.footer__inner {
    margin-top: 70px;
    padding-top: 70px;
    background-color: #F2F5F7;
    @include mq('md') {
      margin-top: 110px;
      padding-top: 80px;
      padding-bottom: 0;
    }
}

.footer__inner.inner {
  max-width: none;
}

.footer__container {
  @include mq('md') {
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
  }
}

.footer__wrap {

}

.footer__body {
  padding-bottom: 70px;
  @include mq('md') {
    padding-bottom: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


// footer__nav //

.footer__nav {
  @include mq('md') {
    display: flex;
  }
}

.footer__navList {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    gap: 20px;
  }
}

.footer__navItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px 18px;
  border-bottom: solid 1px #707070;
  width: 100%;
  @include mq('md') {
    border-bottom: none;
    padding: 12px 10px;
  }
}


.footer__navItem.footer__navItem--borderTop {
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
    @include mq('md') {
    border-top: none;
    border-bottom: none;
  }
}

.footer__navItemTitle {
    font-size: 17px;
    color: #000;
    font-family: $main-font;
    font-weight: 700;
}

.footer__navItemTitle::before {
    content: "";
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 16px;
    height: 2px;
    background-color: $main-color;
}

.footer__navItemText {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: #000;
    font-family: $main-font;
    font-weight: 400;
}


// footer__navList--others //

.footer__navList.footer__navList--others {
    margin-top: 55px;
    @include mq('md') {
      margin-top: 0;
      margin-left: 0;
    }
}

.footer__navItem.footer__navItem--other {
  border-bottom: none;
  padding: 12px 10px;
}

.footer__navItemOther {
    font-size: 14px;
    color: #000;
    font-family: $main-font;
    font-weight: 400;
}

.footer__logoImg {
  background-color: #fff;
  margin: 0 calc(50% - 50vw) 0;
  padding: 50px calc(50vw - 50%) 0;
  @include mq('md') {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.footer__logoImg img {
  @include mq('md') {
      aspect-ratio: 276 / 92;
      object-fit: contain;
      height: auto;
      max-width: 276px;
  }
}


// footer下層部分 //

.footer__foot {
  background-color: #fff;
  margin: 0 calc(50% - 50vw);
  padding: 20px calc(50vw - 50%) 50px;
  @include mq('md') {
    background-color: transparent;
    display: contents;
  }
}


// 下層の下層部分 //

.footer__footContainer {
  @include mq('md') {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 42px;
  }
}

.footer__infoWrap {
  display: flex;
  align-items: center;
  @include mq('md') {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.footer__info {

}

.footer__titleImg {

}

.footer__access {
    font-size: 14px;
    color: #000;
    font-family: $main-font;
    font-weight: 400;
}

.footer__access p {

}

.footer__facebook {
  flex-shrink: 0;
  margin-top: 60px;
  @include mq('md') {
      margin-top: 0px;
  }
}

.footer__facebook img {
  aspect-ratio: 1 / 1;
  width: 30px;
  height: 30px;
  @include mq('md') {
      width: 30px;
      height: 30px;
  }
}

.footer__bar {
  width: 100%;
  height: 1px;
  background-color: #C7C7C7;
  margin-top: 50px;
  @include mq('md') {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.footer__logoImg2 {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  @include mq('md') {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 0;
    justify-content: end;
  }
}

.footer__logoImg2 img {
  aspect-ratio: 144 / 44;
  object-fit: contain;
  height: auto;
  max-width: 144px;
}


// コピーライト //

.footer__copyright {
  display: inline-block;
  color: #fff;
  text-align: center;
  background-color: #233943;
  padding: 20px 0 90px;
  width: 100%;
  margin: 0 calc(50% - 50vw);
  @include mq('md') {
    padding: 25px 0;
  }
}

