@use "global" as *;

.ourBusiness {

}


.ourBusiness__inner {
  padding-bottom: 70px;
  @include mq('md') {
    padding-top:110px;
    padding-bottom: 110px;
  }
}

.ourBusiness__container {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.ourBusiness__decorationImg {
  margin-top: -30px;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  @include mq('md') {
    margin: 0;
    max-width: 365px;
  }
}

.ourBusiness__decorationImg img {
  height: auto;
  aspect-ratio: 248 / 239;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 365 / 352;
  }
}

.ourBusiness-sectionTitle {

}

.ourBusiness__bodyWrap {
  @include mq('md') {
        width: 50%;
  }
}

.ourBusiness__body {
  margin-top: 16px;
  @include mq('md') {
    margin-top: 36px;
  }
}

.ourBusiness__text {

}

.ourBusiness__btn {
  margin-top: 36px;
}


