@use "global" as *;

.sectionTitle {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sectionTitle__subWrap {

  display: flex;
  top: -30px;
  left: 0;
}

.sectionTitle__sub {
  font-size: 16px;
  font-family: $second-font;
  font-weight: 700;
  color: $main-color;
}

.sectionTitle__sub::first-letter {
  text-transform: uppercase;
}

.sectionTitle__subBar {
    background: #00AEBB;
    display: inline-block;
    height: 2px;
    left: -29px;
    position: absolute;
    top: 8px;
    transform: rotate(120deg);
    width: 33px;
}

.sectionTitle__main {
  font-size: 30px;
  font-family: $main-font;
  font-weight: 700;
  color: $black;
  letter-spacing: 1px;
  @include mq('md') {
    font-size: 36px;
  }
}

.sectionTitle__main--white {
  font-size: 30px;
  font-family: $main-font;
  font-weight: 700;
  color: #ffffff;
  @include mq('md') {
    font-size: 36px;
  }
}


