@use "global" as *;

.recruit__inner.inner {
  padding-top: 76px;
  @include mq('md') {
    padding-top: 90px;
    display: flex;
    gap: 6%;
    max-width: 1130px;
    padding-left: 36px;
    padding-right: 16px;
  }
}

.recruit__container {
  padding-bottom: 46px;
  @include mq('md') {
    padding-bottom: 0;
    width: 47%;
    margin: auto 0;
  }
}

.recruit__body {
    margin-top: 32px;
    @include mq('md') {
      margin-top: 60px;
    }
}

.recruit__lead {
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: calc(36 / 22);
    @include mq('md') {
      font-size: 26px;
      line-height: calc(45 / 26);
    }
}

.recruit__text {
    margin-top: 12px;
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: calc(28 / 15);
    @include mq('md') {
      margin-top: 34px;
    }
}

.recruit__btn {
  text-align: center;
    margin-top: 36px;
}

.recruit__imgList {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    @include mq('md') {
      margin:0 auto;
      width: 47%;
    }
}

.recruit__imgItemWrap {
position: relative;
}

.recruit__imgItem {
  width: calc(100% * (213 / 390));
  @include mq('md') {
    width: calc(100% * (291 / 532));
  }
}

.recruit__imgItem.recruit__imgItem--01 {
  width: 100%;
}

.recruit__imgItem.recruit__imgItem--02 {
position: absolute;
top: -66px;
z-index: 2;
left: 0;
  @include mq('md') {
    top: auto;
    bottom: 70%;
  }
}

.recruit__imgItem.recruit__imgItem--03 {
margin-top: 23%;
margin-left: auto;
@include mq('md') {
  margin-top: 38%;
}
}

.recruit__imgItem img {
  aspect-ratio: 213 / 137;
  height: auto;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 291 / 187;
  }
}


.recruit__imgItem.recruit__imgItem-01 img {
  aspect-ratio: 391 / 250;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 532 / 340;
  }
}




