@use "global" as *;

.btnWrap {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: end;
	position: relative;
	z-index: 2;
}

.btn {
	text-align: center;
}

.btn a {
	-webkit-text-decoration: none;
	background-color: transparent;
	border: 1px solid #00AEBB;
	border-radius: 50px;
	color: #00AEBB;
	display: block;
	font-size: 20px;
	height: 52px;
	padding: 20px;
	position: relative;
	text-decoration: none;
	width: 52px;
}

/* ヘッダードロップダウンメニュー */

.btn.btn--small a {
	-webkit-text-decoration: none;
	background-color: transparent;
	border: 1px solid #00AEBB;
	border-radius: 50px;
	color: #00AEBB;
	display: block;
	font-size: 20px;
	height: 18px;
	padding: 9px;
	position: relative;
	text-decoration: none;
	width: 18px;
}

.btn.btn--small a::before {
	border-right: 2px solid #00AEBB;
	border-top: 2px solid #00AEBB;
	height: 6px;
	width: 6px;
	right: 4px;
	top: 6px;
}

.btn.btn--small a::after {
	border-right: 2px solid #00AEBB;
	border-top: 2px solid #00AEBB;
	height: 0px;
	left: 4px;
	top: 8px;
	width: 10px;
}

/* 通常の矢印(hoverで反転) */

.btn a {
	transition: all 0.5s;
}

.btn a::before {
	border-right: 3px solid #00AEBB;
	border-top: 3px solid #00AEBB;
	content: "";
	height: 12px;
	margin: auto;
	position: absolute;
	right: 12px;
	top: 17.5px;
	transform: rotate(45deg);
	transition: all 0.5s;
	width: 12px;
}

.btn a::after {
	border-right: 3px solid #00AEBB;
	border-top: 3px solid #00AEBB;
	content: "";
	height: 0px;
	left: 12px;
	margin: auto;
	position: absolute;
	top: 22px;
	transition: all 0.5s;
	width: 25px;
}

.btn a:hover {
	background-color: #00AEBB;
	color: #00AEBB;
}

.btn a:hover::before {
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
}

.btn a:hover::after {
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
}

.btn__text {
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.btn__text--white {
	color: #ffffff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 14px;
	font-weight: 700;
}