@use "global" as *;

.ourBusiness__inner {
  padding-bottom: 70px;
  @include mq('md') {
    padding-top:67px;
    padding-bottom: 74px;
  }
}

.ourBusiness__container {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-left: 20px;
  }
}

.ourBusiness__decorationImg {
  margin-top: -30px;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  @include mq('md') {
    margin: 0 auto;
    max-width: 365px;
    width: 100%;
  }
}

.ourBusiness__decorationImg img {
  height: auto;
  aspect-ratio: 248 / 239;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 365 / 352;
  }
}

.ourBusiness__bodyWrap {
  @include mq('md') {
        width: 46%;
  }
}

.ourBusiness__body {
  margin-top: 16px;
  @include mq('md') {
    margin-top: 36px;
  }
}

.ourBusiness__text {
    font-size: 15px;
    color: #000;
    letter-spacing: 0.05em;
    line-height : calc(28 / 15);
    font-family: $main-font;
    font-weight: 400;
}

.ourBusiness__btn {
  margin-top: 36px;
  text-align: end;
}


