@use "global" as *;

.subMv {
  width: 100%;
  height: 227px;
  @include mq('md') {
    height: 370px;
  }
}

.subMv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.subMv__img {
  height: inherit;
}

.subMv__img img {
  height: inherit;
}

.subMv__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, .5);
}

.subMv__sectionTitle {
  position: absolute;
  top: 80%;
  left: 26%;
  transform: translate(-50%, -50%);
  z-index: 100;
  @include mq('md') {
    top: 80%;
    left: 20%;
  }
}

.subMv__recruitBanner {
  display: none;
  @include mq('md') {
      display: block;
      position: absolute;
      z-index: 10;
      top: 100vh;
      width: 100%;
      top: 32vh;
      right: 0;
      width: auto;
  }
}

.subMv__recruitBanner a picture img {
    height: auto;
    aspect-ratio: auto;
    object-fit: cover;
    width: 100%;
    @include mq('md') {
        max-width: 70px;
        aspect-ratio: 70/210;
    }
}